.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-image: url("images/background.jpg");
  background-color: #cccccc;
}

div.Category {
  border: 20px black;
  padding: 45px;
  font-style: oblique;
  font-family: "Verdana";
  font-size: 20px;
}


div#CategoryList {
  height: 50%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 25%;
  left: 0;
  background-image: url("images/side-panel.jpg");
  overflow-x: hidden;
  padding-top: 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
